# Server Config
PORT=3000
NODE_ENV=development
API_PREFIX=api
API_VERSION=v1

# Database Config (PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_C7OZsVWS5zbm@ep-summer-water-az5jqdx8-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Secrets
JWT_ACCESS_SECRET=eaaef2651f1801a94268fcceb937c339a9be1497697282bd2ea7192762e9432b67504905c30a6bcf5f5d03e859427865a0acd1a1547e46b6ca67e6d930c21577
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=6aa58867dabffaa6e44ff40114b45e72b2c50979ecce2f8744bbd76cdef232a5d397a5ebd352103ed1984e4eebe2cc224a576387b2df9821d2a9a065ea9b5f8c
JWT_REFRESH_EXPIRATION=7d

# Google Maps API
GOOGLE_MAPS_API_KEY=

# Razorpay Sandbox
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_CURRENCY=INR

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Firebase Cloud Messaging (FCM)
FCM_SERVICE_ACCOUNT_JSON=

# SMTP Email Config (Mailpit)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Enterprise Carpool <noreply@carpool.enterprise.com>"

# Rate Limiting
THROTTLER_TTL=60
THROTTLER_LIMIT=60
